.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); }

.modal-content {
  background-color: white;
  margin: auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s; }
  .modal-content .form-directions {
    padding-left: 20px;
    color: grey;
    font-weight: 200; }
  .modal-content form {
    background-color: #f4f4f4;
    color: #6D6D6D;
    font-weight: 600;
    margin: 2%; }
    .modal-content form input {
      height: 45px;
      margin: 2%; }
    .modal-content form p {
      margin: 0% 0% 1% 2%; }
    .modal-content form .name, .modal-content form .email, .modal-content form .comments {
      width: 85%; }
    .modal-content form .comments {
      height: 75px !important; }

.modal-header h2, .modal-footer h3 {
  margin: 0; }

.modal-header {
  background: #083D8C;
  padding: 15px;
  color: #fff;
  line-height: .5; }
  .modal-header h1 {
    font-weight: 200; }

.modal-body {
  padding: 10px 20px; }

.modal-footer {
  background: lightgrey;
  padding: 20px;
  color: grey;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.5; }

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
  cursor: pointer; }

.closeBtn:hover, .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.yes {
  width: 12%;
  color: white;
  background-color: #01C7C6;
  border: 1px solid black;
  padding: 5px; }

.no {
  width: 12%;
  color: white;
  background-color: lightgrey;
  border: 1px solid black;
  padding: 5px; }

.send {
  margin: 5%;
  text-align: center;
  padding-bottom: 30px;
  cursor: pointer; }
  .send button {
    border: none;
    background-color: #F6F6F6; }

@media (max-width: 1300px) {
  .modal-content {
    width: 90%; } }
nav {
  box-shadow: 0px 2px 5px grey; }

.nav-top {
  background-color: #083D8C;
  overflow: hidden; }
  .nav-top ul {
    display: flex;
    justify-content: flex-end; }
    .nav-top ul .action-icon {
      width: 8%; }
    .nav-top ul li {
      padding-right: 50px;
      list-style: none;
      color: white;
      font-weight: 100;
      font-size: 12px; }
    .nav-top ul a {
      text-decoration: none; }

.nav-bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1%; }
  .nav-bottom img {
    width: 60%;
    margin: 5% 10% 3% 10%; }
  .nav-bottom .nav-links {
    margin-right: 8%;
    margin-top: 2%; }
    .nav-bottom .nav-links ul {
      display: flex;
      width: 150%; }
    .nav-bottom .nav-links a {
      color: #083D8C;
      font-weight: 600;
      list-style: none;
      margin-right: 10%;
      text-decoration: none; }
  .nav-bottom .nav-button {
    margin-right: 5%; }
    .nav-bottom .nav-button button {
      display: flex;
      width: 125%;
      background-color: white;
      border: 1px solid #216DDF;
      color: #216DDF;
      font-family: "Arial";
      font-weight: 600;
      margin: 15% 8% 0% 0%;
      cursor: pointer; }
      .nav-bottom .nav-button button .location-icon {
        width: 10%;
        margin: 6% 6%;
        height: 25px; }

.nav-bottom-mobile {
  display: none; }

.water img {
  height: 90%;
  margin-top: 1%; }

.filter {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  width: 90%;
  background-color: #F6F6F6;
  margin: auto;
  border-radius: 10px; }
  .filter .dealers-found {
    margin: 2% 2% 2% 12%;
    border-right: 1px solid lightgrey; }
    .filter .dealers-found h2 {
      color: #216DDF;
      font-size: 20px;
      padding-right: 50px; }
  .filter .filter-results {
    display: flex;
    margin: 2% 2% 2% 2%; }
    .filter .filter-results .filter-title {
      font-size: 20px;
      color: #3F3F3F; }
    .filter .filter-results .filter-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin-top: 5px; }
      .filter .filter-results .filter-list li {
        font-weight: 500;
        padding: 10px;
        display: flex; }
        .filter .filter-results .filter-list li p {
          margin-top: 4px; }
      .filter .filter-results .filter-list .checkbox {
        -webkit-appearance: none;
        border: 1px solid #cacece;
        padding: 10px;
        border-radius: 5px;
        display: inline-block;
        position: relative;
        margin-right: 15px;
        height: 25px;
        width: 25px;
        border-radius: 20%; }
      .filter .filter-results .filter-list .checkbox:checked {
        background-color: #216DDF; }

.pros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 5%; }

.pro-box {
  flex-wrap: wrap;
  width: 400px;
  margin-right: 2%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 0px 2px 5px grey; }
  .pro-box .certifications {
    background-color: lightgrey;
    overflow: hidden; }
    .pro-box .certifications ul {
      display: flex;
      flex-wrap: wrap; }
      .pro-box .certifications ul .cert-icon {
        width: 4%;
        height: 100%;
        padding-top: 5px;
        padding-right: 1px; }
      .pro-box .certifications ul li {
        width: 40%;
        margin: 2%;
        list-style: none;
        color: grey;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .75px; }
  .pro-box .pro-title {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    width: 75%;
    margin: auto; }
    .pro-box .pro-title h1 {
      font-weight: 100;
      margin: 12%; }
  .pro-box .pro-info {
    text-align: center;
    margin-bottom: 12%; }
    .pro-box .pro-info .pro-number {
      display: flex;
      justify-content: center;
      margin-top: 5%; }
      .pro-box .pro-info .pro-number img {
        width: 8%;
        height: 8%;
        margin: 6% 2% 0 0; }
      .pro-box .pro-info .pro-number .mobile-phone-icon {
        display: none; }
    .pro-box .pro-info .note {
      font-weight: 100;
      margin-top: 0; }
    .pro-box .pro-info .contact-button {
      width: 200px;
      height: 45px;
      background: none;
      border: 1px solid #21CECD;
      color: #083D8C;
      font-weight: bold;
      cursor: pointer; }
    .pro-box .pro-info .hours {
      line-height: .5; }
      .pro-box .pro-info .hours .time {
        font-weight: 100; }

.pro-center .pro-title h1 {
  margin: 18px 0px !important; }

#name2, #name3 {
  margin: 6%; }

footer .footer-content {
  background-color: #083D8C;
  padding-top: 20px;
  padding-bottom: 1px;
  text-align: center; }
  footer .footer-content img {
    width: 20%; }
  footer .footer-content h4 {
    color: white;
    font-weight: 500; }
  footer .footer-content .connect {
    display: flex;
    justify-content: center; }
    footer .footer-content .connect .twitter, footer .footer-content .connect .youtube {
      width: 1.5%;
      height: 1.5%;
      padding: 15px 0 0 15px; }
    footer .footer-content .connect .facebook {
      width: 1%;
      height: 0.25%;
      padding: 15px 0 0 15px; }
footer .footer-bottom {
  background-color: #216DDF;
  overflow: hidden; }
  footer .footer-bottom .footer-list {
    display: flex;
    justify-content: center;
    list-style: none; }
    footer .footer-bottom .footer-list .separator2 {
      margin: 0;
      padding-right: 4%;
      color: white; }
    footer .footer-bottom .footer-list li {
      margin: 1%;
      color: white;
      font-weight: 200; }
    footer .footer-bottom .footer-list a {
      text-decoration: none;
      width: 12%; }
footer .footer-nav-top {
  display: none;
  background-color: #216DDF;
  overflow: hidden; }
  footer .footer-nav-top ul {
    display: flex;
    justify-content: flex-end; }
    footer .footer-nav-top ul li {
      padding-right: 50px;
      list-style: none;
      color: white;
      font-weight: 100;
      font-size: 12px; }
    footer .footer-nav-top ul a {
      text-decoration: none; }

.mail-icon {
  width: 10%;
  padding-right: 10px; }

@media (max-width: 1300px) {
  .nav-bottom {
    display: none; }

  .nav-bottom-mobile {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1%; }
    .nav-bottom-mobile img {
      width: 110%;
      margin: 10% 10% 3% 10%; }
    .nav-bottom-mobile .nav-button-mobile {
      margin: 1% 5% 0% 15%; }
      .nav-bottom-mobile .nav-button-mobile button {
        display: flex;
        width: 125px;
        height: 45px;
        background-color: white;
        border: 1px solid #216DDF;
        color: #216DDF;
        font-family: "Arial";
        font-weight: 600;
        /* margin: 15% 8% 0% 0%; */
        cursor: pointer; }
        .nav-bottom-mobile .nav-button-mobile button p {
          line-height: 0; }
        .nav-bottom-mobile .nav-button-mobile button .location-icon {
          width: 10%;
          margin: 7% 6%;
          height: 15px; }
    .nav-bottom-mobile .mobile-menu {
      padding: 5px 5px; }
      .nav-bottom-mobile .mobile-menu img {
        width: 100%; }
    .nav-bottom-mobile .dropdown {
      position: fixed;
      right: 0px;
      top: 50px;
      background-color: white;
      border: 1px solid #216DDF; }
      .nav-bottom-mobile .dropdown li {
        list-style: none;
        padding: 0px 30px 0px 0px;
        line-height: 2; }
      .nav-bottom-mobile .dropdown a {
        text-decoration: none;
        color: #216DDF; }
      .nav-bottom-mobile .dropdown li:hover {
        text-decoration: underline; }

  .nav-links {
    display: none; }

  .water img {
    width: 100%; }

  .filter {
    display: none; }

  .pro-box {
    margin: 0% 4% !important;
    box-shadow: none;
    border-radius: 0px; }

  .pro-number {
    background-color: #216DDF;
    color: white;
    margin: 10%;
    border-radius: 2px; }
    .pro-number h1 {
      margin: 5%; }

  .phone-icon {
    display: none; }

  .mobile-phone-icon {
    display: flex !important; }

  footer .footer-content .connect .twitter, footer .footer-content .connect .youtube {
    width: 8%; }

  footer .footer-content .connect .facebook {
    width: 4%; }

  .footer-list {
    display: flex;
    justify-content: space-around !important;
    padding-left: 0px; }

  .footer-list a {
    width: 100% !important;
    font-size: 12px;
    text-align: center; }

  .nav-top {
    display: none; }

  .footer-nav-top {
    display: block !important;
    border-bottom: 1px solid white;
    width: 90%;
    margin: 0% 5%;
    text-align: center; }

  .separator {
    margin: 0 10px;
    color: white; }

  .separator2 {
    margin: 0;
    color: white; }

  footer .footer-nav-top ul {
    padding-right: 50px; }

  footer .footer-nav-top ul li {
    font-size: 12px;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
