@import "partials/_modal.scss";

// NAVIGATION BAR
nav {
    box-shadow: 0px 2px 5px grey;    
}
.nav-top {
    background-color: #083D8C;
    overflow:hidden;
    ul {
        display:flex;
        justify-content: flex-end;
        .action-icon {
            width: 8%;
        }
        li {
            padding-right:50px;
            list-style:none;
            color:white;
            font-weight: 100;
            font-size:12px;
        }
        a {
            text-decoration: none;
        }
    }
}
.nav-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom:1%;
    img {
        width:60%;
        margin:5% 10% 3% 10%;
    }
    .nav-links {
         margin-right:8%;
         margin-top:2%;
        ul{
            display:flex;
            width:150%;
        }
        a {
            color: #083D8C;
            font-weight:600;
            list-style:none;
            margin-right:10%;
            text-decoration:none;
        }
    }
    .nav-button {
        margin-right:5%;
        button {
        display:flex;
        width: 125%;
        background-color:white;
        border: 1px solid #216DDF;
        color: #216DDF;
        font-family:"Arial";
        font-weight: 600;
        margin:15% 8% 0% 0%;
        cursor:pointer;
        .location-icon {
            width: 10%;
            margin: 6% 6%;
            height: 25px;
            }
        }
    }
}
.nav-bottom-mobile {
    display:none;
}

// WATER HEADER IMAGE
.water {
    img {
        height:90%;
        margin-top: 1%;
    }
}

// FILTER
.filter {
    display:flex;
    flex-wrap:wrap;
    height: 100px;
    width:90%;
    background-color: #F6F6F6;
    margin: auto;
    border-radius: 10px;
    .dealers-found {
        margin:2% 2% 2% 12%;
        border-right: 1px solid lightgrey;
        h2 {
            color: #216DDF;
            font-size:20px;
            padding-right: 50px;
        }
    }
    .filter-results {
        display:flex;
        margin:2% 2% 2% 2%;
        .filter-title {
            font-size:20px;
            color:#3F3F3F;
        }
        .filter-list {
            display:flex;
            flex-wrap:wrap;
            list-style:none;
            margin-top: 5px;
            li {
                font-weight:500;
                padding:10px;
                display:flex;
                p {
                    margin-top: 4px;
                }
            }
            .checkbox {
                -webkit-appearance: none;
                border: 1px solid #cacece;
                padding: 10px;
                border-radius: 5px;
                display: inline-block;
                position: relative;
                margin-right: 15px;
                height: 25px;
                width: 25px;
                border-radius: 20%;
            }
            .checkbox:checked {
                background-color: #216DDF;
            }
        }
    }
}

// PRO CARDS
.pros {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top: 5%;
    margin-bottom: 5%;
}
.pro-box {
    flex-wrap: wrap;
    width:400px;
    margin-right:2%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0px 2px 5px grey;
    .certifications {
        background-color:lightgrey;
        overflow:hidden;
        ul {
            display:flex;
            flex-wrap:wrap;
            .cert-icon {
                width: 4%;
                height: 100%;
                padding-top:5px;
                padding-right: 1px;
            }
            li {
               width:40%;
               margin:2%;
               list-style: none;
               color:grey;
               font-size:12px;
               font-weight:600;
               letter-spacing: .75px;
            }
        }
    }
    .pro-title {
        text-align:center;
        border-bottom: 1px solid lightgrey;
        width:75%;
        margin:auto;
        h1 {
            font-weight:100;
            margin:12%;
        }
    }
    .pro-info {
        text-align:center;
        margin-bottom:12%;
        .pro-number {
            display:flex;
            justify-content: center;
            margin-top:5%;
            img {
                width:8%;
                height:8%;
                margin: 6% 2% 0 0;
            }
            .mobile-phone-icon {
                display: none;
            }
        }
        .note {
            font-weight:100;
            margin-top:0;
        }
        .contact-button {
            width: 200px;
            height: 45px;
            background:none;
            border: 1px solid #21CECD;
            color:#083D8C;
            font-weight:bold;
            cursor:pointer;
        }
        .hours {
            line-height:.5;
            .time {
                font-weight:100;
            }
        }
    }
}
 .pro-center {
     .pro-title {
        h1 {
            margin:18px 0px !important;
        }
    }
 }
 #name2, #name3 {
    margin: 6%;
}

// FOOTER
 footer {
     .footer-content {
        background-color: #083D8C;
         padding-top:20px;
         padding-bottom: 1px;
         text-align:center;
        img {
            width: 20%;
        }
        h4 {
            color: white;
            font-weight:500;
        }
        .connect {
            display: flex;
            justify-content:center;
            .twitter, .youtube {
                width:1.5%;
                height:1.5%;
                padding:15px 0 0 15px;
            }
            .facebook {
                width:1%;
                height:0.25%;
                padding:15px 0 0 15px;
            }
        }
     }
     .footer-bottom {
         background-color: #216DDF;
         overflow:hidden;
         .footer-list {
             display:flex;
             justify-content: center;
             list-style: none;
             .separator2 {
                margin: 0;
                padding-right: 4%;
                color: white;
            }
             li {
                 margin:1%;
                 color:white;
                 font-weight: 200;
             }
             a {
                text-decoration: none;
                width:12%;
             }
         }
     }
     .footer-nav-top {
        display:none;
        background-color: #216DDF;
        overflow:hidden;
        ul {
            display:flex;
            justify-content: flex-end;
            li {
                padding-right:50px;
                list-style:none;
                color:white;
                font-weight: 100;
                font-size:12px;
            }
            a {
                text-decoration: none;
            }
        }
    }
 }

// ICONS
.mail-icon {
    width: 10%;
    padding-right: 10px
}

// MEDIA QUERIES
@media (max-width: 1300px) {
    .nav-bottom {
        display:none;
    }
    .nav-bottom-mobile {
        display: flex;
        justify-content: space-between;
        padding-bottom:1%;
        img {
            width:110%;
            margin:10% 10% 3% 10%;
        }
        .nav-button-mobile {
            margin: 1% 5% 0% 15%;
            button {
                display: flex;
                width: 125px;
                height: 45px;
                background-color: white;
                border: 1px solid #216DDF;
                color: #216DDF;
                font-family: "Arial";
                font-weight: 600;
                /* margin: 15% 8% 0% 0%; */
                cursor: pointer;
                p {
                    line-height:0;
                }
            .location-icon {
                width: 10%;
                margin: 7% 6%;
                height: 15px;
                }
            }
        }
        .mobile-menu {
            padding: 5px 5px;
            img {
                width:100%;
            }
        }
        .dropdown {
            // display:none;
            position: fixed;
            right:0px;
            top: 50px;
            background-color:white;
            border: 1px solid #216DDF;
            li {
                list-style:none;
                padding: 0px 30px 0px 0px;
                line-height:2;
            }
            a {
                text-decoration: none;
                color:#216DDF;
            }
            li:hover {
                text-decoration: underline;
            }
        }
    }
    .nav-links {
        display: none;
    }
    .water img {
        width: 100%;
    }
    .filter {
        display:none;
        // height: 300px;
        // width:100%;
        // background-color: #F6F6F6;
        // border-radius: 0px;
    }
    .pro-box {
        margin: 0% 4% !important;
        box-shadow: none;
        border-radius:0px;
    }
    .pro-number {
        background-color:#216DDF;
        color:white;
        margin:10%;
        border-radius:2px;
        h1 {
            margin: 5%;
        }
    }
    .phone-icon {
        display:none;
    }
    .mobile-phone-icon {
        display: flex !important;
    }
    footer .footer-content .connect .twitter, footer .footer-content .connect .youtube {
        width:8%;
    }
    footer .footer-content .connect .facebook {
        width:4%;
    }
    .footer-list {
        display: flex;
        justify-content: space-around !important;
        padding-left: 0px;
    }
    .footer-list a {
        width: 100% !important;
        font-size: 12px;
        text-align: center;
    }
    .nav-top {
        display:none;
    }
    .footer-nav-top {
        display:block !important;
        border-bottom: 1px solid white;
        width:90%;
        margin:0% 5%;
        text-align:center;
    }
    .separator {
        margin: 0 10px;
        color: white;    
    }
    .separator2 {
        margin: 0;
        color: white;    
    }
    footer .footer-nav-top ul {
        padding-right: 50px;
    }
    footer .footer-nav-top ul li {
        font-size:12px;
        width:100%;
    }
}