.nav-top {
    background-color: #083D8C;
    overflow:hidden;
    ul {
        display:flex;
        justify-content: flex-end;
        li {
            padding-right:50px;
            list-style:none;
            color:white;
            font-weight: 100;
            font-size:12px;
        }
        a {
            text-decoration: none;
        }
    }
}
.nav-bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom:1%;
    box-shadow: 0px 2px 10px grey;
    img {
        width:60%;
        margin:5% 10% 3% 10%;
    }
    .nav-links {
         margin-right:8%;
         margin-top:1%;
        ul{
            display:flex;
            width:150%;
        }
        a {
            color: #083D8C;
            font-weight:600;
            list-style:none;
            margin-right:10%;
            text-decoration:none;
        }
    }
    .nav-button {
        margin-right:8%;
        button {
            width: 125%;
            background-color:white;
            border: 1px solid #216DDF;
            color: #216DDF;
            font-family:"Arial";
            font-weight: 600;
            margin:15% 8% 0% 0%;
            padding:10%;
            cursor:pointer;
        }
    }
    
}

.water {
    img {
        height:90%;
    }
}

.filter {
    height: 100px;
    width:75%;
    background-color: lightgrey;
    opacity: .3;
    margin: auto;
    border-radius: 10px;
}

.pros {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top: 5%;
    margin-bottom: 5%;
}

.pro-box {
    flex-wrap: wrap;
    width:400px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0px 2px 5px grey;
}
 .pro-center {
     margin:0 1.5%;
 }

 footer {
     .footer-content {
        background-color: #083D8C;
         padding-top:20px;
         padding-bottom: 1px;
         text-align:center;
        img {
            width: 20%;
        }
        h4 {
            color: white;
            font-weight:500;
        }
        .connect {
            display: flex;
            justify-content:center;
            .twitter, .youtube {
                width:1.5%;
                height:1.5%;
                padding:15px 0 0 15px;
            }
            .facebook {
                width:1%;
                height:0.25%;
                padding:15px 0 0 15px;
            }
        }
     }
     .footer-bottom {
         background-color: #216DDF;
         overflow:hidden;
         .footer-list {
             display:flex;
             justify-content: center;
             list-style: none;
             li {
                 margin:1%;
                 color:white;
                 font-weight: 200;
             }
             a {
                text-decoration: none;
                width:12%;
             }
         }
     }
     
 }

 .pro-title {
     text-align:center;
     border-bottom: 1px solid lightgrey;
     width:75%;
     margin:auto;
     h1 {
         font-weight:100;
         margin:12%;
     }
 }

 .pro-info {
     text-align:center;
     margin-bottom:12%;
     .pro-number {
         display:flex;
         justify-content: center;
         margin-top:5%;
         img {
             width:8%;
             height:8%;
             margin: 6% 2% 0 0;
         }
     }
     .note {
         font-weight:100;
         margin-top:0;
     }
     .contact-button {
         width: 175px;
         height:50px;
         background:none;
         border: 1px solid #21CECD;
         color:#083D8C;
         font-weight:bold;
         cursor:pointer;
     }
     .hours {
         line-height:.5;
         .time {
             font-weight:100;
         }
     }
 }

 .pro-types {
     background-color:lightgrey;
     overflow:hidden;
     ul {
         display:flex;
         flex-wrap:wrap;
         li {
            width:40%;
            margin:2%;
            list-style: none;
            color:grey;
            font-size:12px;
            font-weight:600;
            letter-spacing: .75px;
         }
     }
 }

.mail-icon {
    width: 10%;
    padding-right: 10px
}

@media (max-width: 1300px) {
    .nav-links {
        display: none;
    }
    .filter {
        height: 300px;
        width:100%;
        background-color: lightgrey;
        opacity: .3;
        border-radius: 0px;
    }
    .pro-box {
        margin: 0% 4% !important;
        box-shadow: none;
        border-radius:0px;
    }
    .footer-bottom {
        display:none;
    }
}