.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); }

.modal-content {
  background-color: white;
  margin: auto;
  width: 50%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s; }
  .modal-content .form-directions {
    text-align: center;
    color: grey;
    font-weight: 200; }
  .modal-content form {
    background-color: #f4f4f4;
    color: #6D6D6D;
    font-weight: 600;
    margin: 2%; }
    .modal-content form input {
      height: 45px;
      margin: 2%; }
    .modal-content form p {
      margin: 0% 0% 1% 2%; }
    .modal-content form .name, .modal-content form .email, .modal-content form .comments {
      width: 85%; }
    .modal-content form .comments {
      height: 75px !important; }

.modal-header h2, .modal-footer h3 {
  margin: 0; }

.modal-header {
  background: #083D8C;
  padding: 15px;
  color: #fff;
  line-height: .5; }
  .modal-header h1 {
    font-weight: 200; }

.modal-body {
  padding: 10px 20px; }

.modal-footer {
  background: lightgrey;
  padding: 20px;
  color: grey;
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  line-height: 1.5; }

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
  color: #fff;
  cursor: pointer; }

.closeBtn:hover, .closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.nav-top {
  background-color: #083D8C;
  overflow: hidden; }
  .nav-top ul {
    display: flex;
    justify-content: flex-end; }
    .nav-top ul li {
      padding-right: 50px;
      list-style: none;
      color: white;
      font-weight: 100;
      font-size: 12px; }
    .nav-top ul a {
      text-decoration: none; }

.nav-bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1%;
  box-shadow: 0px 2px 10px grey; }
  .nav-bottom img {
    width: 60%;
    margin: 5% 10% 3% 10%; }
  .nav-bottom .nav-links {
    margin-right: 8%;
    margin-top: 1%; }
    .nav-bottom .nav-links ul {
      display: flex;
      width: 150%; }
    .nav-bottom .nav-links a {
      color: #083D8C;
      font-weight: 600;
      list-style: none;
      margin-right: 10%;
      text-decoration: none; }
  .nav-bottom .nav-button {
    margin-right: 8%; }
    .nav-bottom .nav-button button {
      width: 125%;
      background-color: white;
      border: 1px solid #216DDF;
      color: #216DDF;
      font-family: "Arial";
      font-weight: 600;
      margin: 15% 8% 0% 0%;
      padding: 10%;
      cursor: pointer; }

.water img {
  height: 90%; }

.filter {
  display: flex;
  height: 100px;
  width: 90%;
  background-color: #F6F6F6;
  margin: auto;
  border-radius: 10px; }
  .filter .dealers-found {
    margin: 2% 2% 2% 12%; }
    .filter .dealers-found h2 {
      color: #216DDF; }
  .filter .filter-results {
    display: flex;
    margin: 2% 2% 2% 2%; }
    .filter .filter-results .filter-list {
      display: flex;
      list-style: none; }
      .filter .filter-results .filter-list li {
        font-weight: 500;
        padding: 10px; }

.pros {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-bottom: 5%; }

.pro-box {
  flex-wrap: wrap;
  width: 400px;
  margin-right: 2%;
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 0px 2px 5px grey; }
  .pro-box .certifications {
    background-color: lightgrey;
    overflow: hidden; }
    .pro-box .certifications ul {
      display: flex;
      flex-wrap: wrap; }
      .pro-box .certifications ul li {
        width: 40%;
        margin: 2%;
        list-style: none;
        color: grey;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: .75px; }
  .pro-box .pro-title {
    text-align: center;
    border-bottom: 1px solid lightgrey;
    width: 75%;
    margin: auto; }
    .pro-box .pro-title h1 {
      font-weight: 100;
      margin: 12%; }
  .pro-box .pro-info {
    text-align: center;
    margin-bottom: 12%; }
    .pro-box .pro-info .pro-number {
      display: flex;
      justify-content: center;
      margin-top: 5%; }
      .pro-box .pro-info .pro-number img {
        width: 8%;
        height: 8%;
        margin: 6% 2% 0 0; }
    .pro-box .pro-info .note {
      font-weight: 100;
      margin-top: 0; }
    .pro-box .pro-info .contact-button {
      width: 175px;
      height: 50px;
      background: none;
      border: 1px solid #21CECD;
      color: #083D8C;
      font-weight: bold;
      cursor: pointer; }
    .pro-box .pro-info .hours {
      line-height: .5; }
      .pro-box .pro-info .hours .time {
        font-weight: 100; }

.pro-center .pro-title h1 {
  margin: 18px 0px !important; }

#name2, #name3 {
  margin: 6%; }

footer .footer-content {
  background-color: #083D8C;
  padding-top: 20px;
  padding-bottom: 1px;
  text-align: center; }
  footer .footer-content img {
    width: 20%; }
  footer .footer-content h4 {
    color: white;
    font-weight: 500; }
  footer .footer-content .connect {
    display: flex;
    justify-content: center; }
    footer .footer-content .connect .twitter, footer .footer-content .connect .youtube {
      width: 1.5%;
      height: 1.5%;
      padding: 15px 0 0 15px; }
    footer .footer-content .connect .facebook {
      width: 1%;
      height: 0.25%;
      padding: 15px 0 0 15px; }
footer .footer-bottom {
  background-color: #216DDF;
  overflow: hidden; }
  footer .footer-bottom .footer-list {
    display: flex;
    justify-content: center;
    list-style: none; }
    footer .footer-bottom .footer-list li {
      margin: 1%;
      color: white;
      font-weight: 200; }
    footer .footer-bottom .footer-list a {
      text-decoration: none;
      width: 12%; }

.mail-icon {
  width: 10%;
  padding-right: 10px; }

@media (max-width: 1300px) {
  .nav-links {
    display: none; }

  .filter {
    height: 300px;
    width: 100%;
    background-color: #F6F6F6;
    border-radius: 0px; }

  .pro-box {
    margin: 0% 4% !important;
    box-shadow: none;
    border-radius: 0px; }

  .footer-bottom {
    display: none; } }

/*# sourceMappingURL=style.css.map */
